<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">STADIUM</th>
        <th scope="col">OWNER</th>
        <th scope="col">FOUDATION</th>
        <th scope="col">action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elt of teamsTab">
        <th scope="row">{{elt._id}}</th>
        <th scope="row">{{elt.teamName}}</th>
        <td>{{elt.teamStadium}}</td>
        <td>{{elt.teamOwner}}</td>
        <td>{{elt.teamFoundation}}</td>
        
        <td>
            <button class="btn btn-success" (click)="displayTeam(elt._id)">display</button>
            <button class="btn btn-warning" (click)="editTeams(elt._id)">edit</button>
            <button class="btn btn-danger" (click)="deleteTeamById(elt._id)">delete</button>
        </td>
      </tr>
     
    </tbody>
  </table>