<div class="container">
    
    <div class="row">
      <div class="col-lg-12">
        
        <div class="d-flex team-vs" style="margin-top: 20px; margin-bottom: 20px;">
          <span class="score">
            <span [ngStyle]="{'color': scoreColor(x.scoreOne , x.scoreTwo)}">{{x.scoreOne}}</span>
            -
            <span [ngStyle]="{'color': scoreColor(x.scoreTwo , x.scoreOne)}">{{x.scoreTwo}}</span>
          </span>
          <div class="team-1 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
              <h3>
                <span [ngClass]="{
                  'win': teamStyle(x.scoreOne,x.scoreTwo)=='win' ,
                  'loss': teamStyle(x.scoreOne,x.scoreTwo)=='loss',
                  'draw': teamStyle(x.scoreOne,x.scoreTwo)=='draw'
                }">{{x.teamOne}}</span>
                 <span>({{teamStyle(x.scoreOne,x.scoreTwo)}})</span></h3>
              <ul class="list-unstyled">
                <li>Anja Landry (7)</li>
                <li>Eadie Salinas (12)</li>
                <li>Ashton Allen (10)</li>
                <li>Baxter Metcalfe (5)</li>
              </ul>
            </div>
          </div>
          <div class="team-2 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
              <h3>
                <span [ngClass]="{
                  'win': teamStyle(x.scoreTwo,x.scoreOne)=='win' ,
                  'loss': teamStyle(x.scoreTwo,x.scoreOne)=='loss',
                  'draw': teamStyle(x.scoreTwo,x.scoreOne)=='draw'
                }">{{x.teamTwo}}</span>  
              <span>({{teamStyle(x.scoreTwo,x.scoreOne)}})</span></h3>
              <ul class="list-unstyled">
                <li>Macauly Green (3)</li>
                <li>Arham Stark (8)</li>
                <li>Stephan Murillo (9)</li>
                <li>Ned Ritter (5)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3"><button class="btn btn-danger" (click)="deleteMatch(x.id)">delete</button></div>
  </div>